streamlit-chat
matplotlib
seaborn
langchain-experimental
langchain-openai
tabulate
bs4
schedule
streamlit_autorefresh
unidecode
plotly
pysqlite3-binary
chromadb
langchain-community
pydantic-settings
tensorflow
pyvis
stvis
joblib
scikit-learn