langchain
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchain-text-splitters
matplotlib
matplotlib-inline
numpy
openai
pandas
prompt-toolkit==
python-dotenv
seaborn==0.13.2
streamlit
streamlit-chat
tabulate
toml
request
